{% extends 'Core/base.html' %}
{% block title %}¿Quienes Somos?{% endblock %}

{% block background %} {% load static %} {% static 'core/img/Fondo.jpg'%}{% endblock %}

{% block headers %}

<div class="w3-container w3-green">
  <h1>Espeche y Echeverria</h1> 
  <h2>Abogados</h2> 
</div>

{% endblock %}

{% block content%} 
<ul class="list-inline text-center">
 <h1 class="my-4">"ESTUDIO JURIDICO ESPECHE & ECHEVERRIA"
        <small></small>
    </h1>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'core/img/Aby.jpeg' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://api.whatsapp.com/send?phone=+5493886650544">ABG. ABIGAIL ECHEVERRIA</a>
                    </h4>
                    <p>Abogada egresada de Universidad Católica de Salta; Diplomada en Derecho Previsional, Escribana, Premiada por el Senado de la Nacion Argentina en 2019</p>


                    <p class="card-text">
                      
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'core/img/leo.png' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://api.whatsapp.com/send?phone=+5493888475218">ABG. LEOPOLDO ESPECHE</a>
                    </h4>
                    <p> Abogado egresado en Universidad Catolica de Santiago del Estero, Diplomado en Derecho Penal UNJU, Cursando Especializacion en Derecho penal UNJU, Experto Universitario para la Enseñanza Superior UCSE</p>
                    <p class="card-text">
                     
                </div>
            </div>
        </div>
       
      </div>  
    </div>
  </div>

   <section class="py-5">
  <div class="container">
  <ul class="list-inline text-center">
    <h2 class="fw-light">¿Quienes Somos?</h2>
    <p> Somos un equipo de abogados que nos caracteriza la intensidad y tenacidad en la prosecución de los objetivos fijados y la seriedad para encarar y dar cumplimiento a las tareas encomendadas. Somos conscientes de las inquietudes y las sensaciones de las personas, y es por esto que nos comprometemos en lograr una fiel comunicación y permanente contacto profesional, lo que ha derivado en un distintivo clave de nuestro estudio, la transparencia.
Nos enorgullece haber formado un equipo de trabajo capacitado para ser creativo a la hora de trabajar y marcado por un profundo conocimiento de la ley. Por ello, estamos preparados para brindar nuestros servicios a individuos, nuevas o pequeñas empresas, así como también a grandes empresas o de marcada trayectoria.
Nuestro principal objetivo es ofrecer un servicio jurídico de calidad y, consecuentemente con ello, nuestra meta es lograr clientes realmente conformes.</p>
  </div>
</section>
        
    
    



{% endblock %}